* {
    box-sizing: border-box;
}

body{
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 1.5em;
    align-content: center;
    
}

.header{
    background-color: red;
    
}

.main{
    background-color: lightskyblue;
    font-size: large;

}

.left{
    background-color: limegreen;
    

}

.right{
    background-color: pink;

}

.footer{
    background-color: rebeccapurple;
}







@media screen  and (max-width: 768px){

    .header,
    .footer{
        height: 100px;
        flex-basis: 100%;
    }
    .main,
    .left, 
    .right{
        height: 200px;
        flex-basis: 100%;
    }
    
}


@media  screen and (min-width:768px) and (max-width: 992px) {
    
    .header,
    .footer{
        height: 100px;
        flex-basis: 100%;
    }
    .left{
        height: 300px;
        flex-basis: 100%;
    }
    .main{
        height: 400px;
        flex-basis: 75%;
    }
    .right{
        height: 400px;
        flex-basis: 25%;
    }

    body>.main{
        order: 1;
    }
    body>.right{
        order: 2;
    }
    body>.left{
        order: 3;
    }
    body>.footer{
        order: 4;
    }

}   

@media screen  and (min-width: 992px){

    .header,
    .footer{
        height: 100px;
        flex-basis: 100%;
    }
    .left{
        height: 500px;
        flex-basis: 25%;
    }
    .right{
        height: 500px;
        flex-basis: 25%;
    }
    .main{
        height: 500px;
        flex-basis: 50%;
    }

    body>.left {
        order: 1;

    }
    body>.main{
        order: 2;
    }
    body>.right{
        order: 3;
    }
    body>.footer{
        order: 4; 
    }
}